
  <div class="inner_container">
    <p>
      <span class="bold">:Weather</span> is the state of the atmosphere, to the degree that it is hot or cold, wet or dry, calm or stormy, clear or cloudy. Most weather phenomena occur in the troposphere, just below the stratosphere. Weather refers to day-to-day temperature and precipitation activity<sup>[1]</sup>
    </p>

    <p>
      <span class="bold">:TBD</span> will save your body temperature settings, compare it to current weather conditions and will recommend an outfit for you to wear based on your closet items. <br>
      <a href="/signup">Sign up</a> for a free account.
    </p>

  </div>

  <div class="footer">
    <p>[1] source: https://en.wikipedia.org/wiki/Weather</p>
  </div>
