// Place all the styles related to the closets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#closet_container {
  text-align: center;
}
#add {
  padding-bottom: 15px;
}
.tops {
  max-width: 200px;
  max-height: 200px;
}

.bottoms {
  max-width: 200px;
  max-height: 200px;
}
.top_img {
  height:200px;
  width: 200px;
}

.bottom_img {
  height:200px;
  width: 200px;
}


.tops {
  max-width: 200px;
  max-height: 200px;
}

.bottoms {
  max-width: 200px;
  max-height: 200px;
}
li {
  list-style-type: none;
}

.delete_btn {
  margin-bottom: 50px;
}

#add_item {
  display: inline-block;
}

select {
  width: 118px;
  font-size: 1em;
  margin: 0px 5px;
}
#url_submit {
  font-size: 1em;
  width: 400px;
}

#save_item {
  margin: 16px auto;
}

@media screen and (max-width: 520px){
  #closet_container select{
    width: 100%;
    margin: 0 0 1.5rem;
  }
}

