// Place all the styles related to the closets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#closet_container {
  text-align: center;
  position: absolute;
  width: 97%;
  height: 100%;
  top: 60px;
  max-width: 800px;
  left: 20%;
}

.top_img {
  height:200px;
  width: 200px;
}

.bottom_img {
  max-height:200px;
  max-width: 200px;
}

li {
  list-style-type: none;
}

.delete_btn {
  margin-bottom: 50px;
}

#add_item {
  display: inline-block;
}
