// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login {
  text-align: center;
  position: absolute;
  width: 97%;
  top: 120px;
  max-width: 300px;
  margin: 0 510px
  }
