// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sign_up_container {
  text-align: center;
}

label, legend {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 600;
  padding: 5px 20px;
}

#main_description p{
  margin-bottom: 15px;
}
.footer{
  font-size: .8em;
  text-align: center;
}
