// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sign_up {
  text-align: center;
  position: absolute;
  width: 97%;
  top: 120px;
  max-width: 300px;
  margin: 0 480px
  }

label, legend {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 600;
  padding: 5px 20px;
}

#main_description {
  text-align: center;
  position: absolute;
  width: 97%;
  top: 120px;
  max-width: 600px;
  margin: 50px 320px;
}
