// Place all the styles related to the Weathers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3{
  text-align: center;
}
#weather_zip_container {
  text-align: center;
}

#results {
  text-align: center;
}

#small_font {
  font-size: 15px}

form {
  margin-bottom: 0px;
}

pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-bottom: .5rem;
}

input {
  display: block;
  margin: 10px auto;
  width: 200px;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: block;
}

#dress_container {
  margin-top: 50px;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  width: 20px;
}

#umbrella_image {
  height: 43px;
  width: 43px;
  margin: 5px 10px;
}

#icon_container {
  width: 10%;
  margin: 0 48%;
}

#dress_container button {
  width: auto;
  margin: 30px auto;
}
