
<div id="zipform_container">
<h4>Please Enter Zip Code</h4><br>

  <%= form_tag("/weather", method:"get", remote:true) do %>
    <%= label_tag(:zipcode, "Zipcode:") %>
    <%= text_field_tag(:zipcode) %>
    <%= submit_tag "Search", :class =>"btn_search"%>
  <% end %>

</div>

<br>
<div id="results">

</div>


