
<div class="inner_container" id="weather_zip_container">
  <h4><span class="bold">Check The Weather</span></h4>

  <%= form_tag("/weather", method:"get", remote:true) do %>
    <%= label_tag(:zipcode, "Enter Zipcode:") %>
    <%= text_field_tag(:zipcode) %>
    <%= submit_tag "Search", :class =>"btn_search"%>
  <% end %>

</div>

<div id="results">

</div>


